/*
Style Name: Mid Term
Description: Mid term for Orbitz relaunch
Author: Barbara Evangelista
Version: 1.0
Tags: project
*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* -------------
  Plugins
-------------*/

/* -------------
  Reset
-------------*/

body {
	margin: 0;
	padding: 0;
	color: #626262;
	font-family: 'Sanchez', serif;
	font-size: 16px;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

input, textarea {
	display: block;
	margin: 0;
	padding: 0;
}
/* _____________________________________

   01. General Styles
   _____________________________________ */

   .hidden {
	display: none;
}


	.lg-font {
		font-size: 1.25em;
	}

	.box-model {
		margin: 1rem;
		padding: 1rem;
		background: #000;
	}





@supports (grid-area: auto) {

	/*------------ Start Mobile ------------*/

	.site {
		max-width: 799px;
	}

	/*------------ Mobile Grid Items ------------*/

	.head, .main > *, .foot {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.one-item {
		display: grid;
		grid-column: 1 / span 2;
		grid-template-columns: 1fr;
	}

	.two-items {
		display: grid;
		grid-column: 1 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 0;
	}

	.three-items {
		display: grid;
		grid-column: 1 / span 2;
		grid-template-columns: 1fr;
	}

	.three-items-fixed{
		display: grid;
		grid-column: 1 / span 2;
		grid-template-columns: 1fr;
	}
	.two-items-oposite{
		display: grid;
		grid-column: 1 / span 2;
		grid-template-columns: 1fr;
	}


	.two-items-fixed{
		display: grid;
		grid-column: 1 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;

	}
	/*------------  Start Mobile Site header ------------*/

	header {
		position: sticky;
		background-color: #ebdcc1;
		top: 0px;
		border-bottom: 1px solid #e6e6e6;
		box-shadow: 0px 5px 8px #888;
	}

	.logo {
		grid-column: 1 / span 1;
	}

	.logo img {
		padding: 1em;
		width: 75%;
	}

	/*------------  End Mobile Site header ------------*/
	/*------------ a. start nav show/hide mobile ------------*/

	.full {
		display: none;
	}

	.tablet {
		/*----*/
	}

	.mobile {
		display: grid;
		grid-column: 2 / span 1;
	}

	/*------------ a. end nav show/hide mobile ------------*/

    /*------------ b. start mobile nav overlay/menu ------------*/

		 @keyframes bugfix {
			from {
			  padding: 0;
			}
			to {
			  padding: 0;
			}
		  }
		  @-webkit-keyframes bugfix {
			from {
			  padding: 0;
			}
			to {
			  padding: 0;
			}
		  }
		  #overlay-button {
			position: absolute;
			right: 1em;
			padding: 26px 11px;
			z-index: 5;
			cursor: pointer;
			user-select: none;
		  }
		  #overlay-button span {
			height: 3px;
			width: 25px;
			border-radius: 2px;
			background-color:#38342D;
			position: relative;
			display: block;
			transition: all 0.2s ease-in-out;
		  }
		  #overlay-button span:before {
			top: -7px;
			visibility: visible;             
		  }
		  #overlay-button span:after {
			top: 7px;
		  }
		  #overlay-button span:before, #overlay-button span:after {
			height: 3px;
			width: 25px;
			border-radius: 2px;
			background-color: #38342D;
			position: absolute;
			content: "";
			transition: all 0.2s ease-in-out;
		  }
		  #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
			background: #38342D;
		  }
		  
		  input[type=checkbox] {
			display: none;
		  }
		  input[type=checkbox]:checked ~ #overlay {
			visibility: visible;
		  }
		  input[type=checkbox]:checked ~ #overlay-button:hover span,
		  input[type=checkbox]:checked ~ #overlay-button span {
			background: transparent;
		  }
		  input[type=checkbox]:checked ~ #overlay-button span:before {
			transform: rotate(45deg) translate(5px, 5px);
			opacity: 1;
		  }
		  input[type=checkbox]:checked ~ #overlay-button span:after {
			transform: rotate(-45deg) translate(5px, -5px);
		  }
		  #overlay {
			height: 100vh;
			width: 100vw;
			background: #fef5e6;;
			z-index: 2;
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			/* This fixes scrolling issue */
			overflow: hidden;
		  }
		  #overlay.active {
			visibility: visible;
		  }
		  #overlay ul {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
			height: 100vh;
			padding-left: 0;
			list-style-type: none;
		  }
		  #overlay ul li {
			padding: .75em;
		  }
		  #overlay ul li a {
			color: #6b6458;
			text-decoration: none;
			font-size: 40px;
		  }
		  #overlay ul li a:hover {
			color: #333332;
		  }

	/*------------ End Mobile Nav ------------*/



	/*------------ Start Hero------------*/





	/*------------ End Hero ------------*/



	
	/*------------ Start Mobile Footer ------------*/

	footer {
		
		color: black;
	}

	footer .footer-nav {
		display: block;
		font-weight: 100;
		color: black;
	}


	nav ul {
		margin: 0;
		padding: 1em 0 1em 1em;
		text-decoration: none;
		text-align: start;
	}

	nav ul li {
		display: block;
		margin-right: 1.25em;
	}


	.copyright {
		font-size: .75em;
		text-align: right;
		margin-right: .5em;
	}

	.footer-spacing {
		padding: 3em 0em 3em 0em;
	}

	/*------------ End Mobile Footer ------------*/
}


	



@media screen and (min-width: 800px) {

	.site {
		max-width: none;
	}

	/*------------ Grid Items ------------*/

	.head, .main > *, .foot {
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
	}

	.one-item {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: 1fr;
	}

	.two-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: 1fr;
	}

	.three-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(3, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	}

	.three-items-fixed{
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: 1fr;
	}

	.two-items-oposite{
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;	
	}

	.two-items-fixed{
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;	

	}
	/*------------  End Grid Items ------------*/



	/*------------ Start Nav Styling ------------*/

	.full {
		display: grid;
	}

	.tablet {
		/*----*/
	}

	.mobile {
		display: none;
	}

	.nav {
		grid-column: 2 / span 3;
		padding-top: 1.5em;
		margin: 0;
	}

	nav ul {
		margin: 0;
		padding: 0em 0em .95em;
		text-decoration: none;
		text-align: end;
	}

	nav ul li {
		display: inline;
		margin-right: 4em;
	}

	/*------------ End Nav Styling ------------*/


	/*------------ Start desktop Footer ------------*/

	footer {

		color: black
	}

	footer .footer-nav {
		grid-column-start: 1;
		
	}

	footer .address{
		grid-column-start: 3;
	}
	footer nav a {
		display: block;
		font-weight: 100;
		color:black
	}




	.copyright {
		font-size: .75em;
		text-align: right;
	}

	.footer-spacing {
		padding: 3em 0em 6em 0em;
	}

	/*------------ End Mobile Footer ------------*/
}


	
   